# s_media_api.service.j2
[Unit]
Description=Uvicorn instance to serve s_media API backend project
After=network.target

[Service]
User=sergey
Group=root
WorkingDirectory=/var/www/s_media_api
ExecStart={{ poetry_env_path.stdout }}/bin/uvicorn s_media_api.asgi:application --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
